.header {
  position: relative;
  z-index: 100;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 42px;
  border-bottom: 1px solid #34425B;

  @media (max-width: 640px) {
    padding: 20px 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__controls {
  display: flex;
  margin-right: 10px;

  @media (max-width: 1160px) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  @media (max-width: 641px) {
    margin-top: 20px;
    margin-right: 0;
  }
}

@keyframes bounce-down {
  0%  { transform: translateY(-86px);  }
  70%  { transform: translateY(30px);  }
  90%  { transform: translateY(-10px); }
  100% { transform: translateY(0);     }
}

.header__menu {
  position: absolute;

  &--closed {
    top: -1000px;
    right: 25px;
    transition: 1.5s;
    z-index: 10;
    opacity: 1;

    @media (min-width: 641px) {
      position: relative;
      top: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &--opened {
    animation: bounce-down 0.6s;
    top: 80px;
    right: 25px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #34425B;
    box-shadow: 0px 3px 8px -1px #000000;

    background-image: url("../img/bg-mobile.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 641px) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

.header__toggle {
  display: none;

  @media (max-width: 641px) {
    display: block;
    width: 30px;
    height: 30px;
    background-image: url("../img/svg/menu.svg");
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transition: 0.5s;
      transform: scale(1.1);
    }
  }
}
